<div class="mt-5">
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <input type="hidden" />
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre"
        [(ngModel)]="cliente.nombre" [class.is-valid]="nombre.valid"
        [class.alert-danger]="nombre.invalid && nombre.touched" #nombre="ngModel" required />
      <label for="nombre">Nombre</label>
      <small *ngIf="nombre.invalid && nombre.touched" class="text-danger">*El nombre es obligatorio</small>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellido"
        [(ngModel)]="cliente.apellido" [class.is-valid]="apellido.valid"
        [class.alert-danger]="apellido.invalid && apellido.touched" #apellido="ngModel" required />
      <label for="apellido">Apellido</label>
      <small *ngIf="apellido.invalid && apellido.touched" class="text-danger">*El apellido es obligatorio</small>
    </div>
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="email" name="email" placeholder="Email" [(ngModel)]="cliente.email"
        [class.is-valid]="email.valid" [class.alert-danger]="email.invalid && email.touched" #email="ngModel"
        required />
      <label for="email">Email</label>
      <small *ngIf="email.invalid && email.touched" class="text-danger">*El email es obligatorio</small>
    </div>
    <div class="text-center col-12 mt-3">
      <button class="btn btn-lg btn-primary" type="submit">Guardar</button>
    </div>
  </form>
</div>
